# local + cloudflare 조합
version: '2.4'
services:
  grab-video:
    build: .
    image: raphael1021/dl-test:latest
#    image: ${DOCKER_HUB_USER}/${IMAGE_NAME}:${VERSION}
    container_name: grab-video
    restart: always
#    cpus: 1
#    mem_limit: 2G
    ports:
      - "80:5000"
    volumes:
      - ./downloads:/app/downloads
      - ./logs:/app/logs
    environment:
      - DOWNLOAD_FOLDER=downloads
      - MAX_FILE_SIZE_MB=1024
      - GUNICORN_WORKERS=1
      - GUNICORN_THREADS=4
      - MAX_WORKERS=3
      - STATUS_MAX_AGE=300
      - STATUS_CLEANUP_INTERVAL=60
      - DISABLE_HEALTH_METRICS=true
#      - DOWNLOAD_LIMITS=60 per 5 minutes
      - DOWNLOAD_LIMITS=20 per minute
      - PYTHONUNBUFFERED=1
      - ALLOWED_HEALTH_IPS=127.0.0.1,125.177.83.187,172.16.0.0/12,192.168.0.0/16
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 60s
      timeout: 10s
      retries: 3

  cloudflared-video:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-video
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${DEVGRAB_CLOUDFLARED_TOKEN}

  cloudflared-root:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-root
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${DEVGRAB_CLOUDFLARED_TOKEN}
