services:
  grab-video:
    build: .
    image: raphael1021/dl-test:latest
#    image: ${DOCKER_HUB_USER}/${IMAGE_NAME}:${VERSION}
    container_name: grab-video
    restart: always
    ports:
      - "80:5000"
    volumes:
      - ./downloads:/app/downloads
      - ./logs:/app/logs
    environment:
      - DOWNLOAD_FOLDER=downloads
      - MAX_FILE_SIZE_MB=2048
      - GUNICORN_WORKERS=1
      - GUNICORN_THREADS=4
      - MAX_WORKERS=3
      - STATUS_MAX_AGE=1800
      - STATUS_CLEANUP_INTERVAL=60
      - DISABLE_HEALTH_METRICS=false
#      - DOWNLOAD_LIMITS=60 per 5 minutes
      - DOWNLOAD_LIMITS=30 per minute
      - TZ=Asia/Seoul
      - PYTHONUNBUFFERED=1
      - ALLOWED_HEALTH_IPS=127.0.0.1,125.177.83.187,172.16.0.0/12,192.168.0.0/16
      - GUNICORN_ACCESS_LOG_FORMAT=%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s %(L)s
    healthcheck:
      test: ["CMD-SHELL", "curl -s -f http://localhost:5000/health > /dev/null || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "10"
    depends_on:
      - cloudflared

# https://one.dash.cloudflare.com/588918288e7fa323754ce6357381199f/networks/tunnels
# https://developers.cloudflare.com/cloudflare-one/connections/connect-networks/configure-tunnels/cloudflared-parameters/run-parameters
# https://github.com/quic-go/quic-go/wiki/UDP-Buffer-Sizes
# https://github.com/cloudflare/cloudflared/issues/1176#issuecomment-2993329228
  cloudflared:
    image: cloudflare/cloudflared:latest-arm64 # https://hub.docker.com/r/cloudflare/cloudflared/tags
    container_name: cloudflared
    restart: always
    command: tunnel --proxy-connect-timeout 5m --proxy-tls-timeout 2m --proxy-tcp-keepalive 1m --proxy-keepalive-timeout 10m --grace-period 3m --no-autoupdate run --token ${DEVGRAB_CLOUDFLARED_TOKEN}
