# local + cloudflare 조합
services:
  grab-video:
    build: .
    image: raphael1021/dl-test:latest
#    image: ${DOCKER_HUB_USER}/${IMAGE_NAME}:${VERSION}
    container_name: grab-video
    restart: always
#    cpus: 1
#    mem_limit: 2G
    ports:
      - "80:5000"
    volumes:
      - ./downloads:/app/downloads
      - ./logs:/app/logs
    environment:
      - DOWNLOAD_FOLDER=downloads
#      - MAX_FILE_SIZE_MB=1024
      - MAX_FILE_SIZE_MB=1536
      - GUNICORN_WORKERS=1
      - GUNICORN_THREADS=4
      - MAX_WORKERS=3
      - STATUS_MAX_AGE=300
      - STATUS_CLEANUP_INTERVAL=60
      - DISABLE_HEALTH_METRICS=false
#      - DOWNLOAD_LIMITS=60 per 5 minutes
      - DOWNLOAD_LIMITS=30 per minute
      - TZ=Asia/Seoul
      - PYTHONUNBUFFERED=1
      - ALLOWED_HEALTH_IPS=127.0.0.1,125.177.83.187,172.16.0.0/12,192.168.0.0/16
    healthcheck:
      test: ["CMD-SHELL", "curl -s -f http://localhost:5000/health > /dev/null || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
    depends_on:
      - cloudflared-root
      - cloudflared-video

  cloudflared-video:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-video
    restart: unless-stopped
    command: tunnel run --token ${DEVGRAB_CLOUDFLARED_TOKEN}
    environment:
      - TUNNEL_TRANSPORT_PROTOCOL=quic
      - TUNNEL_ORIGIN_ENABLE_HTTP2=true
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/ready > /dev/null 2>&1 || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 3

  cloudflared-root:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-root
    restart: unless-stopped
    command: tunnel run --token ${DEVGRAB_CLOUDFLARED_TOKEN}
    environment:
      - TUNNEL_TRANSPORT_PROTOCOL=quic
      - TUNNEL_ORIGIN_ENABLE_HTTP2=true
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/ready > /dev/null 2>&1 || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 3
