version: '3'

services:
  video-downloader:
    build: .
    container_name: video-downloader
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./downloads:/app/downloads
      - ./logs:/app/logs
    environment:
      - FLASK_HOST=0.0.0.0
      - FLASK_PORT=5000
      - FLASK_DEBUG=false
      - PYTHONUNBUFFERED=1
      - DOWNLOAD_FOLDER=/app/downloads
      - MAX_FILE_AGE=7
      - APP_VERSION=1.0.0
